/* FONT */
@font-face {
  font-family: "Hammersmith One";
  src: url("../fonts/HammersmithOne-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Alice";
  src: url("../fonts/Alice-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Variable.ttf") format("truetype-variations");
  font-weight: 400 500 600 700;
}

/* VARIABLES */
:root {
  --yellow-color: #be9e44;
  --yellow-color-secondary: #a57e13;
  --purple-color: #a820e8;
  --purple-color-opacity: rgba(168, 32, 232, 0.05);
  --purple-color-secondary: #8f20c2;
  --blue-color: #2088e8;
  --blue-color-secondary: #1269b9;
  --green-color: #1a7717;
  --green-color-secondary: #0a5508;
  --gray-color-1: #1a1a1a;
  --gray-color-1-opacity: rgba(26, 26, 26, 0.6);
  --gray-color-2: #444;
  --header-color-opacity: rgba(255, 255, 255, 0.9);
  --footer-color: #1a1a1a;
  --padding-landscape: 83px;
  --padding-mobile: 38px;
  --font_size-cat_card: 40px;
  --font_size-cat_card-t: 24px;
  --font_size-button: 18px;
  --font_weight-button: 500;
  --font_size-nav: 20px;
  --font_weight-nav: 500;
  --font_size-hero_title: 48px;
  --font_size-hero_title-t: 32px;
  --font_size-hero_title-m: 24px;
  --font_weight-hero_title: 600;
  --font_size-hero_subtitle: 48px;
  --font_size-hero_subtitle-t: 32px;
  --font_size-hero_subtitle-m: 20px;
  --font_weight-hero_subtitle: 400;
  --font_size-footer_title: 24px;
  --font_weight-footer_title: 600;
  --font_size-section_title: 64px;
  --font_size-section_title-t: 48px;
  --font_size-section_title-m: 36px;
  --font_size-section_title_2: 36px;
  --font_size-section_text: 20px;
  --font_size-section_text-m: 16px;
}

/* UNIVERSAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgb(170, 170, 170) #f1f1f1;
}

body {
  font-family: "Work Sans", system-ui, sans-serif;

  &.no-scroll {
    /* width: 100%; */
    /* position: fixed; */
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* UTILITY */
.width-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.color--red {
  color: red;
}
.color--gray-1 {
  color: var(--gray-color-1);
}
.color--gray-2 {
  color: var(--gray-color-2);
}
.color--purple {
  color: var(--purple-color);
}
.color-hover--purple:hover {
  color: var(--purple-color-secondary);
}

.background--purple {
  background-color: var(--purple-color-opacity);
}

.border-radius-1 {
  border-radius: 0 32px;
}
.border-radius-2 {
  border-radius: 32px 0;
}

.border--purple {
  border: 2px solid var(--purple-color);
}

.section-gap {
  gap: 40px;
}
.section-column {
  flex: 1;
}
.section-label {
  font-family: "Hammersmith One", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 12px;
}
.section-title {
  font-family: "Alice", serif;
  font-size: var(--font_size-section_title);
  font-weight: 400;
  color: var(--gray-color-1);
}
.section-title-2 {
  font-family: "Alice", serif;
  font-size: var(--font_size-section_title_2);
  font-weight: 400;
  color: var(--gray-color-2);
}
.section-text {
  font-family: "Work Sans", sans-serif;
  font-size: var(--font_size-section_text);
  font-weight: 400;
  color: var(--gray-color-2);
  line-height: 1.5;
  margin-top: 28px;
}
.section-image {
  width: 100%;
}
.section-button {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}
.section-contact {
  color: var(--gray-color-2);
  font-weight: bold;
}
.section-border-radius-1 {
  border-radius: 0 100px;
}
.section-padding-1 {
  padding-top: 144px;
  padding-bottom: 144px;
}
.section-padding-2 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.icon--white {
  fill: #fff;
}
.icon--purple {
  fill: var(--purple-color);
}
.icon--hover-purple {
  fill: var(--purple-color);
}

/* FAQ */
.accordion {
  .accordion-header {
    color: #888;
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    cursor: pointer;

    .accordion-arrow {
      fill: #888;
      transition: transform 0.5s ease;
    }
  }

  .accordion-content {
    height: 0;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 48px;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.2s ease-out,
      padding-bottom 0.5s ease;
  }

  p.section-text {
    margin-top: 0px;
  }

  .accordion-list {
    margin-left: 32px;
    margin-top: 16px;
  }
}

.accordion-radio {
  display: none;

  &:checked {
    ~ .accordion-header {
      color: var(--gray-color-2);

      .accordion-arrow {
        fill: var(--gray-color-2);
        transform: rotate(-180deg);
      }
    }

    ~ .accordion-content {
      height: fit-content;
      padding-bottom: 36px;
      opacity: 1;
    }
  }
}

/* BUTTON STYLES */
.button {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: var(--font_weight-button);
  color: #fff;
  padding: 12px 20px;
  border-radius: 30px;
  display: flex;
  gap: 16px;
  max-width: fit-content;
  align-items: center;
  transition: background-color 0.4s ease;

  svg {
    width: 20px;
    height: 16px;
  }
}

.button--purple {
  background-color: var(--purple-color);

  &:hover {
    background-color: var(--purple-color-secondary);
  }
}

.button--blue {
  background-color: var(--blue-color);

  &:hover {
    background-color: var(--blue-color-secondary);
  }
}

.button--yellow {
  background-color: var(--yellow-color);

  &:hover {
    background-color: var(--yellow-color-secondary);
  }
}

.button--green {
  background-color: var(--green-color);

  &:hover {
    background-color: var(--green-color-secondary);
  }
}

/* LANDING PAGE */
#landing-page {
  font-family: "Work Sans", sans-serif;

  .container {
    padding-top: 40px;
    padding-bottom: 20px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

  .landing-page__header {
    justify-content: center;
  }

  .landing-page__footer {
    color: var(--gray-color-2);
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .landing-page__categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.category-card {
  height: 280px;
  padding: 20px;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .category-card__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(0.5);
  }

  .category-card__info {
    margin-top: auto;
    color: #fff;
    position: relative;
    z-index: 5;
  }

  .category-card__title {
    font-size: var(--font_size-cat_card);
    font-weight: 500;
    max-width: 300px;
  }

  .category-card__button {
    margin-top: 20px;
  }
}

/* MAIN HEADER */
.main-header {
  position: fixed;
  width: 100%;
  top: 36px;
  z-index: 20;
  pointer-events: none;

  .container {
    background-color: var(--header-color-opacity);
    padding: 8px 20px;
    border-radius: 100px;
    justify-content: space-between;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    pointer-events: auto;
  }
}

.nav {
  margin-top: auto;
  margin-bottom: auto;

  .nav__links {
    list-style: none;
    align-items: center;
    column-gap: 40px;
  }

  .nav__link {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font_size-nav);
    font-weight: var(--font_weight-nav);
    transition: 0.5s color;
  }

  .nav__buttons {
    margin-top: 64px;
    padding-top: 64px;
    border-top: 1px solid #ddd;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .button {
      font-size: 20px;

      &.nav__link {
        color: #fff;
      }
    }
  }
}

.nav-mobile {
  display: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;

  svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .nav-close {
    font-family: "Work Sans", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
  }
}
.active-nav {
  font-weight: 700;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  position: relative;

  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }

  .hero__container {
    max-width: 780px;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero__title {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font_size-hero_title);
    font-weight: var(--font_weight-hero_title);
    text-align: center;
  }

  .hero__subtitle {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font_size-hero_subtitle);
    font-weight: var(--font_weight-hero_subtitle);
    margin-top: 30px;
    text-align: center;
  }

  .hero__buttons {
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.scroll-down {
  color: #fff;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 52px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  cursor: pointer;
  user-select: none;

  p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}

/* AVAILABLE JOBS */
.jobs {
  column-gap: 120px;

  .jobs__title-right {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }

  .jobs__available {
    padding-top: 20px;
    flex-direction: column;
    row-gap: 10px;
  }
}
.job {
  padding: 20px 30px;
  border-radius: 30px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  transition: all 0.7s;

  &:hover {
    border-color: var(--purple-color);
    background-color: var(--purple-color-opacity);

    .job__position {
      color: var(--purple-color);
    }
  }

  .job__position {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    gap: 16px;
    color: var(--gray-color-1);
    transition: all 0.7s;
  }

  .job__info {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    color: var(--gray-color-2);
    margin-top: 12px;
  }
}

/* BENEFITS */
.benefits {
  background-color: var(--purple-color-opacity);
  padding-top: 100px;
  padding-bottom: 70px;

  .container {
    flex-wrap: wrap;
    gap: 64px;
  }
}
.benefits__icon svg {
  width: 72px;
  height: 72px;
}
.benefits__info {
  margin-top: 32px;
  flex-direction: column;
  gap: 28px;
}

/* RECRUITMENT NEEDS */
.recruitment {
  text-align: center;

  .recruitment__image {
    max-width: 780px;
    margin-bottom: 40px;
  }

  .recruitment__text {
    margin-top: 30px;
  }
}

/* STICKY CONTACT */
.sticky-contact {
  position: sticky;
  bottom: 36px;
  margin-top: 50px;
  margin-bottom: 20px;
  pointer-events: none;
}
.contact-button {
  height: 48px;
  width: 48px;
  margin: 0 4px 28px auto;
  border-radius: 50%;
  display: block;
  pointer-events: auto;
}

/* POPUP FORM */
.popup-form-container {
  height: 0;
  width: 0;
  padding: 16px;
  background-color: var(--gray-color-1-opacity);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 35;
  transform: scale(0);
  transition: transform 0.5s;
}
.popup-form--show {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}
.popup-form {
  color: var(--gray-color-2);
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  padding: 24px;
  border-radius: 0 32px;

  .flex-container {
    justify-content: space-between;
    align-items: center;
  }

  .popup-form__title {
    font-family: "Alice", serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--gray-color-1);
  }

  .popup-form__text {
    line-height: 1.6;
    margin: 20px 0 36px;
  }

  .popup-form__submit {
    margin: 32px auto 24px;
  }

  label {
    margin-top: 20px;
    margin-bottom: 12px;
    display: block;
  }

  input {
    font: inherit;
    padding: 12px 20px;
    border: 1px solid var(--gray-color-2);
    border-radius: 8px;
  }
}

.form-close {
  cursor: pointer;

  .form-close__icon {
    font-size: 20px;
    font-weight: 500;
  }

  .form-close__text {
    width: fit-content;
    margin: 0 auto;
  }
}

/* STEP BY STEP */
.steps {
  flex-direction: column;
  align-items: center;
  row-gap: 72px;

  .steps__step {
    padding-left: 28px;
    padding-right: 28px;

    .section-text {
      max-width: 780px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .step-padding {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

/* TESTIMONIALS */
.swiper {
  margin-bottom: 32px;

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .custom-swiper-button {
    margin: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: unset;

    svg {
      width: 28px;
      height: 28px;
    }
  }

  .swiper-pagination {
    position: unset;
    width: unset !important;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}
.purple-brand .swiper-pagination-bullet-active {
  background-color: var(--purple-color);
}

.testimonials {
  padding-top: 32px;
  padding-bottom: 24px;

  .testimonials__review {
    max-width: 780px;
    margin: 48px auto 0;
    font-style: italic;
  }

  .testimonials__author {
    margin-top: 32px;
    font-size: 24px;
    font-weight: bold;
  }

  .testimonials__controls {
    margin: 24px auto 32px;
    justify-content: center;
    align-items: center;
    column-gap: 28px;
  }
}

/* MAIN FOOTER */
#main-footer {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background-color: var(--footer-color);
  padding: 50px 100px 35px;
  margin-bottom: 30px;
  border-radius: 30px;
  color: #fff;
  flex-wrap: wrap;

  .main-footer__title {
    font-size: var(--font_size-footer_title);
    font-weight: var(--font_weight-footer_title);
  }

  .main-footer__address {
    line-height: 1.6;
    margin-top: 30px;
  }

  .main-footer__phone {
    margin-top: 30px;
    padding-bottom: 30px;
  }

  .main-footer__row {
    border-top: 1px solid #444;
    width: 100%;
    padding-top: 32px;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__column {
  width: 33%;

  &:nth-child(n + 2) .main-footer__title,
  &:nth-child(n + 2) .main-footer__list {
    margin-left: 80px;
  }
}

.main-footer__list {
  list-style: none;
  padding-bottom: 30px;

  li {
    margin-top: 30px;
  }

  a {
    color: #fff;
  }
}

.main-footer__socials {
  padding-right: 50px;
  align-items: center;
  gap: 28px;

  svg {
    width: 32px;
    height: 32px;
  }
}

/* MEDIA QUERIES */
@media (max-width: 1220px) {
  .f-column--t {
    flex-direction: column;
  }
  .f-rev-column--t {
    flex-direction: column-reverse;
  }

  .padding-landscape {
    padding-left: var(--padding-landscape);
    padding-right: var(--padding-landscape);
  }

  #landing-page {
    .landing-page__categories {
      margin: 40px 0;
      grid-template-columns: 1fr;
      padding: 0 83px;
    }
  }

  .category-card {
    height: 280px;
  }

  .main-header__left {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
  .nav {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  /* When mobile navigation is open */
  .main-header.active-menu {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    padding-top: 36px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    overflow-y: auto;
    pointer-events: auto;

    .container {
      background-color: #fff;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: none;
      backdrop-filter: none;
    }

    .nav {
      display: block;
      padding: 64px 0;
    }

    .nav__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
    }

    .nav__link {
      font-size: 24px;
    }

    .nav__buttons {
      display: flex;
    }
  }

  .jobs {
    flex-direction: column;
    row-gap: 50px;
  }

  .benefits {
    .container {
      flex-direction: column;
    }

    .benefits__card {
      text-align: left;
      display: flex;
      column-gap: 30px;
    }

    .benefits__icon svg {
      height: 52px;
      width: 52px;
    }

    .benefits__info {
      margin-top: 0;
    }

    .benefits__text.section-text {
      margin-top: 0;
    }
  }

  #main-footer {
    margin-left: var(--padding-landscape);
    margin-right: var(--padding-landscape);
    padding: 30px;
  }
  .main-footer__column {
    width: 100%;

    &:nth-child(n + 2) .main-footer__title,
    &:nth-child(n + 2) .main-footer__list {
      margin-left: 0px;
    }

    &:not(:first-child) .main-footer__title {
      margin-top: 50px;
    }

    .main-footer__address {
      max-width: 300px;
    }

    .main-footer__phone {
      padding-bottom: 0px;
    }

    .main-footer__list {
      padding-bottom: 0px;
    }
  }
}
.main-footer__row {
  margin-top: 50px;
  flex-direction: column-reverse;
  row-gap: 30px;

  .main-footer__socials {
    padding-right: 0px;
  }
}

@media (max-width: 1000px) {
  .scroll-down {
    display: none;
  }
}

@media (max-width: 768px) {
  .text-center--t {
    text-align: center;
  }

  .padding-landscape {
    padding-left: 0;
    padding-right: 0;
  }

  .section-label {
    font-size: 16px;
  }
  .section-title {
    font-size: var(--font_size-section_title-t);
  }
  .section-text {
    font-size: var(--font_size-section_text-m);
  }
  .section-border-radius-1 {
    border-radius: 0 60px;
  }
  .section-padding-1 {
    padding-top: 140px;
    padding-bottom: 96px;
  }

  .max-width-tablet {
    max-width: 576px;
  }

  #landing-page {
    .landing-page__categories {
      max-width: 100%;
    }
  }

  .category-card {
    height: 216px;

    .category-card__title {
      font-size: var(--font_size-cat_card-t);
    }
  }

  .main-header {
    padding: 0;
  }

  .hero {
    border-bottom-right-radius: 60px;

    .hero__container {
      width: 580px;
    }

    .hero__title {
      font-size: var(--font_size-hero_title-t);
    }

    .hero__subtitle {
      font-size: var(--font_size-hero_subtitle-t);
      margin-top: 24px;
    }
  }

  .benefits__info {
    gap: 20px;
  }

  .steps {
    row-gap: 44px;

    .section-text {
      font-size: 20px;
      line-height: 1.3;
    }
  }

  .testimonials__review {
    max-width: 580px;
    font-size: 18px;
  }
  .testimonials__author {
    font-size: 20px;
  }

  .accordion {
    .accordion-header {
      font-size: 32px;
    }

    .section-text {
      font-size: 18px;
    }
  }

  #main-footer {
    margin: auto auto 20px;
  }
}

@media (max-width: 580px) {
  .padding-mobile {
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
  }

  .section-title {
    font-size: var(--font_size-section_title-m);
  }
  .section-text {
    font-size: var(--font_size-section_text-m);
  }
  .section-padding-1 {
    padding-top: 76px;
    padding-bottom: 76px;
  }
  .section-padding-2 {
    padding-top: 48px;
    padding-bottom: 60px;
  }

  #landing-page {
    .landing-page__categories {
      padding-top: 0;
      padding-bottom: 0;
      justify-content: center;
    }
  }

  .category-card {
    height: 168px;
    min-width: 200px;
    padding: 10px;

    .category-card__button {
      margin-top: 10px;
    }
  }

  .main-header {
    padding-top: 0;
    padding-bottom: 0;

    .container {
      padding: 8px 20px;
      border-radius: 40px;
    }
  }

  .hero {
    .hero__container {
      width: 100%;
    }
    .hero__title {
      font-size: var(--font_size-hero_title-m);
    }
    .hero__subtitle {
      font-size: var(--font_size-hero_subtitle-m);
      margin-top: 20px;
    }
    .hero__buttons {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
    }
  }

  .job__info {
    font-size: 16px;
    margin-top: 20px;

    .separator {
      display: none;
    }
  }

  .display-block {
    margin-top: 10px;
    display: block;
  }

  .benefits__card {
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .steps .section-text {
    font-size: 16px;
  }

  .custom-swiper-button {
    display: none;
  }

  .accordion {
    .accordion-header {
      font-size: 24px;
    }

    .section-text {
      font-size: 16px;
    }
  }

  #main-footer {
    margin-left: var(--padding-mobile);
    margin-right: var(--padding-mobile);
    padding: 30px;
  }
}
