:root {
  --yellow-color: #be9e44;
  --yellow-color-secondary: #a57e13;
  --purple-color: #a820e8;
  --purple-color-secondary: #8f20c2;
  --blue-color: #2088e8;
  --blue-color-secondary: #1269b9;
  --green-color: #1a7717;
  --green-color-secondary: #0a5508;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.page-wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

/* LANDING PAGE */
#landing-page .page-wrapper {
  padding-top: 40px;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-page__header {
  display: flex;
  justify-content: center;
}

.landing-page__categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.category-card {
  height: 280px;
  padding: 20px;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.category-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  filter: brightness(0.5);
}

.category-card__info {
  margin-top: auto;
  color: #fff;
  position: relative;
  z-index: 5;
}

.category-card__title {
  /* CHECK */
  max-width: 300px;
}

.category-card__button {
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
}

.landing-page__footer {
  display: flex;
  justify-content: center;
  padding: 0px 16px;
}

/* BUTTON STYLES */
.button {
  /* CHECK FONT WEIGHT */
  border-radius: 30px;
  padding: 12px 20px;
  display: inline-block;
  transition: background-color 0.4s ease;
}

.button--blue {
  background-color: var(--blue-color);
}

.button--blue:hover {
  background-color: var(--blue-color-secondary);
}

.button--yellow {
  background-color: var(--yellow-color);
}

.button--yellow:hover {
  background-color: var(--yellow-color-secondary);
}

.button--green {
  background-color: var(--green-color);
}

.button--green:hover {
  background-color: var(--green-color-secondary);
}

.button--purple {
  background-color: var(--purple-color);
}

.button--purple:hover {
  background-color: var(--purple-color-secondary);
}

/* MEDIA QUERIES */
@media (max-width: 1220px) {
  .landing-page__categories {
    grid-template-columns: 1fr;
    padding: 0 83px;
  }

  .category-card {
    height: 280px;
  }
}

@media (max-width: 768px) {
  .landing-page__categories {
    max-width: 100%;
  }

  .category-card {
    height: 216px;
  }
}

@media (max-width: 580px) {
  .landing-page__categories {
    padding: 0 38px;
  }

  .category-card {
    height: 167px;
  }
}
